.grid-container {
 height: 100vh;
 border: 2px solid gray;
 display: grid;
 grid-template-columns: repeat(3, 1fr);
 grid-template-rows: repeat(5, 100px);
 grid-gap: 5px;
}

.grid-item-name {
 border: 2px solid orange;
 text-align: left;
 padding: 5px;
}
.grid-item-info {
 border: 2px solid orange;
 text-align: center;
 padding: 5px;
}
.grid-item-address {
 border: 2px solid orange;
 text-align: right;
 padding: 5px;
}
.grid-item-personal {
 border: 2px solid orange;
 grid-column: 1 / 4;
 padding: 5px;
}
.grid-item-exp {
 border: 2px solid orange;
 grid-column: 1 / 4;
 padding: 5px;
}
.grid-item-edu {
 border: 2px solid orange;
 grid-column: 1 / 4;
 padding: 5px;
}
.grid-item-skills {
 border: 2px solid orange;
 grid-column: 1 / 4;
 padding: 5px;
}
